.Tee {
    height: 16%;
    width: 10%;
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 0 black;
    margin: 2% auto;
    position:relative;
}

.TeeNeck{
    position: absolute;
    width: 40%;
    height: 13%;
    border-radius: 0 0 15px 15px;
    background-color: white;
    align-items: center;
    left: 30%;
}

.TeeSleeve{
    height: 40%;
    width: 35%;
    position: absolute;        
    background: inherit;    
}

.TeeSleeveLeft{
    border-radius: 20px 0 0 5px;
    left: -24px;
}

.TeeSleeveRight {
    border-radius: 0 20px 5px 0;
    left: 70px;
}

.Jeans{
    height: 5.5%;
    width: 10%;
    margin: 2% auto;
    position: relative;
    border-radius: 5px 5px 0 0;    
}

.JeansLegLeft{
    position: absolute;
    margin-right: 12px;
    background: inherit;
    height: 8rem;
    width: 2rem;
    border-radius: 5px 0 5px 5px;    
}

.JeansLegRight{
    position: absolute;
    margin-right: 12px;
    background: inherit;
    height: 8rem;
    width: 2rem;
    left: 2.5rem;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 1px black;    
}
.JeansStitch {
    border: 1px dashed yellow;
    position: absolute;    
    height: 99%;
    left: 1.5rem;
}

.Red{
    background: linear-gradient(rgb(236, 21, 21), #e70707);
}

.Green{
    background: linear-gradient(#65e629, #228c1d);
}

.Blue {
    background: linear-gradient(#2d67e4, #0d47bb);
}

/* 
.BreadTop {
    height: 20%;
    width: 80%;
    background: linear-gradient(#bc581e, #e27b36);
    border-radius: 50% 50% 0 0;
    box-shadow: inset -15px 0 #c15711;
    margin: 2% auto;
    position: relative;
}

.Seeds1 {
    width: 10%;
    height: 15%;
    position: absolute;
    background-color: white;
    left: 30%;
    top: 50%;
    border-radius: 40%;
    transform: rotate(-20deg);
    box-shadow: inset -2px -3px #c9c9c9;
}

.Seeds1:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: -170%;
    top: -260%;
    border-radius: 40%;
    transform: rotate(60deg);
    box-shadow: inset -1px 2px #c9c9c9;
  }
  
.Seeds1:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: 180%;
    top: -50%;
    border-radius: 40%;
    transform: rotate(60deg);
    box-shadow: inset -1px -3px #c9c9c9;
  }

  .Seeds2 {
    width: 10%;
    height: 15%;
    position: absolute;
    background-color: white;
    left: 64%;
    top: 50%;
    border-radius: 40%;
    transform: rotate(10deg);
    box-shadow: inset -3px 0 #c9c9c9;
  }
  
  .Seeds2:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: 150%;
    top: -130%;
    border-radius: 40%;
    transform: rotate(90deg);
    box-shadow: inset 1px 3px #c9c9c9;
  }
  

.Meat {
    width: 80%;
    height: 8%;
    background: linear-gradient(#7f3608, #702e05);
    margin: 2% auto;
    border-radius: 15px;
}

.Cheese {
    width: 90%;
    height: 4.5%;
    margin: 2% auto;
    background: linear-gradient(#f4d004, #d6bb22);
    border-radius: 20px;
}

.Salad {
    width: 85%;
    height: 7%;
    margin: 2% auto;
    background: linear-gradient(#228c1d, #91ce50);
    border-radius: 20px;
}

.Bacon {
    width: 80%;
    height: 3%;
    background: linear-gradient(#bf3813, #c45e38);
    margin: 2% auto;
} */
