.Tee {
    height: 16%;
    width: 10%;
    border-radius: 0 0 10px 10px;    
    margin: 2% auto;
    position:relative;
}

.TeeNeck{
    position: absolute;
    width: 40%;
    height: 13%;
    border-radius: 0 0 15px 15px;
    background-color: white;
    align-items: center;
    left: 30%;
}

.TeeSleeve{
    height: 40%;
    width: 35%;
    position: absolute;        
    background: inherit;      
}

.TeeSleeveLeft{
    border-radius: 20px 0 0 5px;
    left: -34%;    
}

.TeeSleeveRight {
    border-radius: 0 20px 5px 0;
    left: 101%;
}

.Jeans{
    height: 5.5%;
    width: 10%;    
    margin: 2% auto;
    position: relative;
    border-radius: 5px 5px 0 0;    
}

.JeansZip{
    position:absolute;
    height:70%;
    top: 15%;
    width:2%;
    border: 1px dashed black;
    left: 49%;
}

.JeansLegLeft{
    position: absolute;
    margin-right: 12px;
    background: inherit;
    height: 300%;
    width: 45%;
    left: 0%;
    border-radius: 5px 0 5px 5px;    
    border-left: 2px dashed black;
}

.JeansLegRight{
    position: absolute;
    margin-right: 12px;
    background: inherit;
    height: 300%;
    width: 45%;
    left: 55%;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 1px black;    
}
.JeansStitch {
    border: 1px dashed yellow;
    position: absolute;    
    height: 95%;
    left: 80%;
}

.Belt {    
    width: 10%;
    margin: 2% auto;
    position: relative;
    height: 2%;
    border-radius: 2px 2px 2px 2px;
    box-shadow: inset 2px 1px black;        
}

.BeltBuckle {
    position: relative;
    left: 20%;
    top: -30%;
    width: 30%;
    height: 110%;    
    border: 4px solid lightgrey;
    border-radius: 2px 2px 2px 2px;
}

.BeltBuckleDetail{
    position: absolute;
    width: 60%;
    height: 25%;
    background-color: lightgrey;
    top:25%;
}

.BeltHole{        
    position: absolute;
    width: 30%;        
    border-top: 7px dotted black;
    top: 25%;
    left: 70%;
}

.Shoes {
    position: relative;
    margin: 80px auto;
    height: 11%;
    width: 10%;
}

.ShoeTop {
    position: absolute;
    height: 100%;
    width: 45%;
    left: -3%;
    border-radius: 5px 5px 12px 12px;
}

.ShoeTopRight{
    position: absolute;
    height: 100%;
    width: 45%;
    left: 60%;
    border-radius: 5px 5px 12px 12px;
}

.ShoeTopHole {
    position: absolute;
    background-color: black;
    left: 22%;
    top: 5%;
    width: 60%;
    height: 40%;
    border-radius: 15px 15px 15px 15px;
}

.ShoeTopDetail{
    position: absolute;
    border: 1px dashed white;
    height: 5%;
    width: 60%;
    top: 60%;
    left: 20%;
}


.Red{
    background: linear-gradient(rgb(236, 21, 21), #e70707);
}

.Green{
    background: linear-gradient(#65e629, #228c1d);
}

.Blue {
    background: linear-gradient(#2d67e4, #0d47bb);
}

.Navy {
    background: linear-gradient(rgba(17, 17, 51, 0.733), #081a3f);
}
.Grey {
    background: linear-gradient(#cccccc, #eeeeee);
}

.BlackLeather{
    background: linear-gradient(#555555, #222222);
}


/* 
.BreadTop {
    height: 20%;
    width: 80%;
    background: linear-gradient(#bc581e, #e27b36);
    border-radius: 50% 50% 0 0;
    box-shadow: inset -15px 0 #c15711;
    margin: 2% auto;
    position: relative;
}

.Seeds1 {
    width: 10%;
    height: 15%;
    position: absolute;
    background-color: white;
    left: 30%;
    top: 50%;
    border-radius: 40%;
    transform: rotate(-20deg);
    box-shadow: inset -2px -3px #c9c9c9;
}

.Seeds1:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: -170%;
    top: -260%;
    border-radius: 40%;
    transform: rotate(60deg);
    box-shadow: inset -1px 2px #c9c9c9;
  }
  
.Seeds1:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: 180%;
    top: -50%;
    border-radius: 40%;
    transform: rotate(60deg);
    box-shadow: inset -1px -3px #c9c9c9;
  }

  .Seeds2 {
    width: 10%;
    height: 15%;
    position: absolute;
    background-color: white;
    left: 64%;
    top: 50%;
    border-radius: 40%;
    transform: rotate(10deg);
    box-shadow: inset -3px 0 #c9c9c9;
  }
  
  .Seeds2:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: 150%;
    top: -130%;
    border-radius: 40%;
    transform: rotate(90deg);
    box-shadow: inset 1px 3px #c9c9c9;
  }
  

.Meat {
    width: 80%;
    height: 8%;
    background: linear-gradient(#7f3608, #702e05);
    margin: 2% auto;
    border-radius: 15px;
}

.Cheese {
    width: 90%;
    height: 4.5%;
    margin: 2% auto;
    background: linear-gradient(#f4d004, #d6bb22);
    border-radius: 20px;
}

.Salad {
    width: 85%;
    height: 7%;
    margin: 2% auto;
    background: linear-gradient(#228c1d, #91ce50);
    border-radius: 20px;
}

.Bacon {
    width: 80%;
    height: 3%;
    background: linear-gradient(#bf3813, #c45e38);
    margin: 2% auto;
} */
