.Belt {    
    width: 25%;
    margin: 2% auto;
    position: relative;
    height: 4%;
    border-radius: 2px 2px 2px 2px;
    box-shadow: inset 2px 1px black;        

    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
         box-shadow: 0 10px 6px -6px #777;
}

.BeltBuckle {
    position: relative;
    left: 20%;
    top: -18%;
    width: 22%;
    height: 110%;    
    border: 0.2rem solid silver;
    border-radius: 2px 2px 2px 2px;
}

.BeltBuckleDetail{
    position: absolute;
    width: 60%;
    height: 20%;
    background-color: darkgrey;
    top:38%;
}

.BeltHole{        
    position: absolute;
    width: 20%;        
    border-top: 0.25rem dotted black;
    top: 30%;
    left: 52%;
}