.Shirt {
    height: 35%;
    width: 20%;
    border-radius: 0 0 10px 10px;    
    margin: 2% auto;
    position:relative;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
         box-shadow: 0 10px 6px -6px #777;    
}

.ShirtButtons{
    position: absolute;
    height: 80%;
    border-left: 0.7rem dotted #d8d8d8;
    top: 15%;
    left: 45%;
}

.ShirtCollar{
    position: absolute;
    width: 20%;
    height: 15%;        
    left: 55%;
    top:-5%;
    background: inherit;
    border-top-left-radius: 100%;
    z-index: 300;
}

.ShirtCollarLeft{
    position: absolute;
    width: 20%;
    height: 15%;        
    left: 25%;
    top:-5%;
    background: inherit;
    border-top-right-radius: 100%;
    z-index: 300;
}

.ShirtNeck{
    position: absolute;
    width: 40%;
    height: 10%;
    border-radius: 0 0 60px 60px;
    background-color: white;
    align-items: center;
    left: 30%;
    z-index: 100;
}

.ShirtSleeve{
    height: 75%;
    width: 34%;
    position: absolute;        
    background: inherit;    
    border-radius: 17px 0 0 5px;
    left: -34%;    
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
         box-shadow: 0 10px 6px -6px #777;  
}

.ShirtSleeveRight {
    transform: translatex(394%);
    border-radius: 0 17px 5px 0;
}